# Buổi 2 đề mô

**Python Programming**

**Buổi 2 đề mô**

In [391]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

 **Python Hello World**

In [392]:
print("Hello World")

Hello World

**Python Syntax**

In [393]:
# comment

**Indentation**

**the spaces at the beginning of a code line**

**4 spaces**

In [394]:
score = 80

if score >= 60:
    print("Pass")
else:
    print("Fail")

Pass

**Python Variables**

In [395]:
# Python Variables
x = 2
price = 2.5
word1 = 'Hello'
word2 = "Hello"
word3 = '''Hello'''
print(x, price, word1, word2, word3)

2 2.5 Hello Hello Hello

**TOÁN TỬ CỘNG **

In [396]:
x = 2
y = x + 1
print("Giá trị của x:", x)
print("Giá trị của y:", y)

Giá trị của x: 2
Giá trị của y: 3

**alias**

In [397]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

***variable name***

In [398]:
x = "Hello World"  # str
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))
x = 2  # int
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))
x = 2.5  # float
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))
x = 7j  # complex
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

Giá trị: Hello World | Kiểu dữ liệu: <class 'str'>
Giá trị: 2 | Kiểu dữ liệu: <class 'int'>
Giá trị: 2.5 | Kiểu dữ liệu: <class 'float'>
Giá trị: 7j | Kiểu dữ liệu: <class 'complex'>

**Kiểu Dữ Liệu **

In [399]:
x = ["apple", "banana", "cherry"]  # list
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = ("apple", "banana", "cherry")  # tuple
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = range(6)  # range
print("Giá trị:", list(x), "| Kiểu dữ liệu:", type(x))  # đổi thành list để nhìn rõ

x = {"name": "Tom", "age": 20}  # dict
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = {"apple", "banana", "cherry"}  # set
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = frozenset({"apple", "banana", "cherry"})  # frozenset
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))
#frozenset

Giá trị: ['apple', 'banana', 'cherry'] | Kiểu dữ liệu: <class 'list'>
Giá trị: ('apple', 'banana', 'cherry') | Kiểu dữ liệu: <class 'tuple'>
Giá trị: [0, 1, 2, 3, 4, 5] | Kiểu dữ liệu: <class 'range'>
Giá trị: {'name': 'Tom', 'age': 20} | Kiểu dữ liệu: <class 'dict'>
Giá trị: {'apple', 'cherry', 'banana'} | Kiểu dữ liệu: <class 'set'>
Giá trị: frozenset({'apple', 'cherry', 'banana'}) | Kiểu dữ liệu: <class 'frozenset'>

**datatypes**

In [400]:
x = True  # bool
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = b"Hello"  # bytes
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = bytearray(5)  # bytearray
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = memoryview(bytes(5))  # memoryview
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

x = None  # NoneType
print("Giá trị:", x, "| Kiểu dữ liệu:", type(x))

Giá trị: True | Kiểu dữ liệu: <class 'bool'>
Giá trị: b'Hello' | Kiểu dữ liệu: <class 'bytes'>
Giá trị: bytearray(b'\x00\x00\x00\x00\x00') | Kiểu dữ liệu: <class 'bytearray'>
Giá trị: <memory at 0x7e07de719c00> | Kiểu dữ liệu: <class 'memoryview'>
Giá trị: None | Kiểu dữ liệu: <class 'NoneType'>

**hàm in ra type**

In [401]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

**number_types**

In [402]:
x = 2   # int
y = 3.4 # float
z = 7j  # complex

print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

**arithmetic_operators**

In [403]:
# Các toán tử số học trong Python

print("7 + 2  =", 7 + 2)   # Addition
print("7 - 2  =", 7 - 2)   # Subtraction
print("7 * 2  =", 7 * 2)   # Multiplication
print("7 / 2  =", 7 / 2)   # Division
print("7 // 2 =", 7 // 2)  # Floor division (Quotient)
print("7 % 2  =", 7 % 2)   # Modulus (Remainder)
print("7 ** 2 =", 7 ** 2)  # Exponentiation

7 + 2  = 9
7 - 2  = 5
7 * 2  = 14
7 / 2  = 3.5
7 // 2 = 3
7 % 2  = 1
7 ** 2 = 49

**math_operations**

In [404]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

**boolean_examples**

In [405]:
# Python Booleans: True or False
print(3 > 2)   # so sánh lớn hơn
print(3 == 2)  # so sánh bằng
print(3 < 2)   # so sánh nhỏ hơn

True
False
False

In [406]:
# BMI Calculator with error handling

try:
    height_cm = 170
    weight_kg = 60
    height_m = height_cm / 100

    # Viết đúng tên biến
    BMI = weight_kg / (height_m ** 2)

    print("Your BMI is: " + str(round(BMI, 1)))

except Exception as e:
    print("Có lỗi xảy ra:", e)

Your BMI is: 20.8

**investment_growth**

**fv_100usd_7years**

In [407]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

**future_value**

In [408]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

**Future Value Calculator**

In [409]:
# Python Collections Examples

# list
x = ["apple", "banana", "cherry"]
print("List:", x, type(x))

# tuple
x = ("apple", "banana", "cherry")
print("Tuple:", x, type(x))

# dict
x = {"name": "Tom", "age": 20}
print("Dict:", x, type(x))

# set
x = {"apple", "banana", "cherry"}
print("Set:", x, type(x))

List: ['apple', 'banana', 'cherry'] <class 'list'>
Tuple: ('apple', 'banana', 'cherry') <class 'tuple'>
Dict: {'name': 'Tom', 'age': 20} <class 'dict'>
Set: {'apple', 'cherry', 'banana'} <class 'set'>

**Python Collections Demo**

In [410]:
# Future Value with error handling
try:
    amount = 100
    interest = 10  # 10% = 0.01 * 10
    years = 7

    future_value = amount * ((1 + (0.01 * interest)) ** years)
    print(round(future_value, 2))

except Exception as e:
    print("Có lỗi xảy ra:", e)

194.87

**python_collections**

In [411]:
# Python Collections Demo

# list
x = ["apple", "banana", "cherry"]
print("List:", x, "| Type:", type(x))

# tuple
x = ("apple", "banana", "cherry")
print("Tuple:", x, "| Type:", type(x))

# dict
x = {"name": "Tom", "age": 20}
print("Dict:", x, "| Type:", type(x))

# set
x = {"apple", "banana", "cherry"}
print("Set:", x, "| Type:", type(x))

List: ['apple', 'banana', 'cherry'] | Type: <class 'list'>
Tuple: ('apple', 'banana', 'cherry') | Type: <class 'tuple'>
Dict: {'name': 'Tom', 'age': 20} | Type: <class 'dict'>
Set: {'apple', 'cherry', 'banana'} | Type: <class 'set'>

**list_index_demo**

In [412]:
# Python List Example
x = [60, 70, 80, 90]

# In ra độ dài của list
print("Độ dài của x:", len(x))

# In ra các phần tử theo index
print("Phần tử đầu tiên x[0]:", x[0])
print("Phần tử thứ hai x[1]:", x[1])
print("Phần tử cuối cùng x[-1]:", x[-1])

Độ dài của x: 4
Phần tử đầu tiên x[0]: 60
Phần tử thứ hai x[1]: 70
Phần tử cuối cùng x[-1]: 90

**tuple_operations**

In [413]:
# Python Tuple Example
x = (10, 20, 30, 40, 50)

# In ra các phần tử theo index
print("Phần tử đầu tiên x[0]:", x[0])
print("Phần tử thứ hai x[1]:", x[1])
print("Phần tử thứ ba x[2]:", x[2])
print("Phần tử cuối cùng x[-1]:", x[-1])

Phần tử đầu tiên x[0]: 10
Phần tử thứ hai x[1]: 20
Phần tử thứ ba x[2]: 30
Phần tử cuối cùng x[-1]: 50

**set_operations_demo**

In [414]:
# Python Set Example
animals = {'cat', 'dog'}

# Kiểm tra phần tử có trong set không
print("'cat' có trong animals?", 'cat' in animals)
print("'fish' có trong animals?", 'fish' in animals)

# Thêm phần tử
animals.add('fish')
print("Sau khi thêm 'fish':", 'fish' in animals)

# Kích thước của set
print("Số phần tử trong animals:", len(animals))

# Thêm 'cat' một lần nữa (không thay đổi set vì set không chứa trùng)
animals.add('cat')
print("Sau khi thêm 'cat' lần nữa, số phần tử:", len(animals))

# Xóa phần tử
animals.remove('cat')
print("Sau khi xóa 'cat', số phần tử:", len(animals))

'cat' có trong animals? True
'fish' có trong animals? False
Sau khi thêm 'fish': True
Số phần tử trong animals: 3
Sau khi thêm 'cat' lần nữa, số phần tử: 3
Sau khi xóa 'cat', số phần tử: 2

**english**

In [415]:
k = { 'EN':'English'

,
'FR':'French' }

print(k['EN'])

English

python_collections

In [416]:
# Python Collections Examples

# list
fruits = ["apple", "banana", "cherry"]
print("Fruits (List):", fruits, "| Type:", type(fruits))

# tuple
colors = ("red", "green", "blue")
print("Colors (Tuple):", colors, "| Type:", type(colors))

# set
animals = {'cat', 'dog'}
print("Animals (Set):", animals, "| Type:", type(animals))

# dictionary
person = {"name": "Tom", "age": 20}
print("Person (Dict):", person, "| Type:", type(person))

Fruits (List): ['apple', 'banana', 'cherry'] | Type: <class 'list'>
Colors (Tuple): ('red', 'green', 'blue') | Type: <class 'tuple'>
Animals (Set): {'dog', 'cat'} | Type: <class 'set'>
Person (Dict): {'name': 'Tom', 'age': 20} | Type: <class 'dict'>

**list_sum_demo**

In [417]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

**tuple_example**

In [418]:
# Python Tuples Example
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), ("Inventory", 1003))

for account in accounts:
    print("Account name:", account[0], "| Account number:", account[1])

Account name: Cash | Account number: 1001
Account name: Accounts Receivable | Account number: 1002
Account name: Inventory | Account number: 1003

*set_example*

In [419]:
# Python Sets Example
account_numbers = {1001, 1002, 1003}
new_account_number = 1004

if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")
else:
    print("Account number", new_account_number, "is already in use.")

Account number 1004 is not in use.

**dictionary_iteration_demo**

In [420]:
# Python Dictionaries Example
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}
}

for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])
    print("-" * 40)  # dòng phân cách giữa các account

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
----------------------------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
----------------------------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability
----------------------------------------

**if_statement_demo**

In [436]:
# Python if
score = 80

if score >=60 :

  print("Pass")

Pass

**if_else_demo**

In [435]:
# Python if-else Example
score = 80  # Điểm số

if score >= 60:
    print("Pass")
else:
    print("Fail")

Pass

**if_elif_else_demo**

In [456]:
# Python if-elif-else Example
score = 95  # Điểm số

if score >= 90:
    print("A")
elif score >= 60:
    print("Pass")
else:
    print("Fail")

A

**grading_if_elif_else**

In [455]:
# Python if-elif-else Example
score = 90
grade = ""

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"

print("Grade:", grade)

Grade: A

**for_loop_demo**

In [437]:
for i in range(1,6):

 print(i)

1
2
3
4
5

**multiplication_table**

In [454]:
# Python Nested For Loops: Multiplication Table
for i in range(1, 10):
    for j in range(1, 10):
        print(i, '*', j, '=', i * j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

**while_loop_demo**

In [453]:
# Python While Loop Example
age = 10

while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

**future_value_function**

In [452]:
# Python Function Example: Future Value
def getfv(pv, r, n):
    fv = pv * ((1 + r) ** n)
    print("Future Value inside function:", fv)  # in giá trị bên trong hàm
    return fv

fv = getfv(100, 0.1, 7)
print("Rounded Future Value:", round(fv, 2))

Future Value inside function: 194.87171000000012
Rounded Future Value: 194.87

**future_value_function**

In [451]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

**future_value_simple**

In [450]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

**future_value_function.py**

In [449]:
# Python Function Example: Future Value
def getfv(pv, r, n):
    fv = pv * ((1 + r) ** n)
    print("Future Value inside function:", fv)  # in giá trị bên trong hàm
    return fv

fv = getfv(100, 0.1, 7)
print("Rounded Future Value:", round(fv, 2))

Future Value inside function: 194.87171000000012
Rounded Future Value: 194.87

**person_class_example**

In [448]:
# Python Class Example

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Tạo đối tượng p1 từ lớp Person
p1 = Person("Alan", 20)

# In ra thông tin đối tượng
print("Tên:", p1.name)
print("Tuổi:", p1.age)

Tên: Alan
Tuổi: 20

**person_class_method**

In [422]:
# Python Class with Method Example

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)
        print("I am", self.age, "years old.")

# Tạo đối tượng và gọi hàm
p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan
I am 20 years old.

**person_class_demo**

In [423]:
# Python Class with Attributes and Method

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

# Tạo đối tượng p1
p1 = Person("Alan", 20)

# Gọi hàm myfunc()
p1.myfunc()

# In ra thuộc tính
print("Tên:", p1.name)
print("Tuổi:", p1.age)

Hello my name is Alan
Tên: Alan
Tuổi: 20

**vehicle_class_demo**

In [424]:
# Python Class Vehicle Example

class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00

    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

# Tạo đối tượng Vehicle
car1 = Vehicle()
car1.name = "BMW"
car1.color = "red"
car1.kind = "sport car"
car1.value = 60000.00

# In ra mô tả xe
print(car1.description())

BMW is a red sport car worth $60000.00.

**vehicle_objects_demo**

In [425]:
# Python Vehicle Class Example

class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00

    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str


# Tạo đối tượng car1
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

# Tạo đối tượng car2
car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

# In thông tin ra màn hình
print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

**mymodyle**

In [426]:
# mymodule.py

def greeting(name):
    print("Hello, " + name)

**file_io_example**

In [427]:
# Python File Input / Output Example

# Ghi vào file
with open('myfile.txt', 'w') as file:
    file.write("Hello World\nThis is Python File Input Output")

# Đọc lại từ file
with open('myfile.txt', 'r') as file:
    text = file.read()
    print(text)

Hello World
This is Python File Input Output

**file_module_writer**

In [428]:
# Python File Input / Output

filename = 'mymodule.py'

# Ghi nội dung vào file
with open(filename, 'w') as file:
    text = '''def greeting(name):
    print("Hello, " + name)
'''
    file.write(text)

# Đọc lại nội dung từ file
with open(filename, 'r') as file:
    text = file.read()

# In ra kết quả
print("Tên file:", filename)
print("Nội dung file:\n", text)

Tên file: mymodule.py
Nội dung file:
 def greeting(name):
    print("Hello, " + name)

**mymodule**

In [429]:
# mymodule.py

def greeting(name):
    print("Hello, " + name)

**python_main **

In [447]:
# Python main() function example

def main():
    print("Hello World!")

# Kiểm tra nếu file này được chạy trực tiếp
if __name__ == "__main__":
    main()

Hello World!

**file_open_read_write**

In [ ]:
# Python File Write and Read

# Ghi vào file
f = open("myfile.txt", "w")
f.write("Hello World")
f.close()

# Đọc từ file
f = open("myfile.txt", "r")
text = f.read()
print(text)
f.close()

**file_io_simple**

In [ ]:
# Python File Input / Output Example

# Ghi vào file
with open('myfile.txt', 'w') as file:
    file.write('Hello World')

# Đọc từ file
with open('myfile.txt', 'r') as file:
    text = file.read()

# In ra kết quả
print(text)

*file_append_read*

In [ ]:
# Python File Input / Output

# Ghi thêm nội dung vào file
with open("myfile.txt", "a+") as file:
    file.write("\nNew line")
    print("✅ Đã ghi thêm 'New line' vào file.")

# Đọc nội dung từ file
with open("myfile.txt", "r") as file:
    print("📖 Đang đọc nội dung trong file...")
    text = file.read()

# In nội dung ra màn hình
print("📌 Nội dung file:")
print(text)

** !ls list files**

In [444]:
# !ls list files
import os

# Lấy thư mục làm việc hiện tại
cwd = os.getcwd()

# In ra màn hình
print("Current Working Directory:", cwd)

Current Working Directory: /content

***list_directory***

In [445]:
import os

# Lấy thư mục hiện tại
cwd = os.getcwd()
print("Current Working Directory:", cwd)

# Ghép đường dẫn tới thư mục sample_data
path = os.path.join(cwd, 'sample_data')
print("Full Path:", path)

# Liệt kê file/thư mục bên trong sample_data
files = os.listdir(path)
print("Files in sample_data:", files)

Current Working Directory: /content
Full Path: /content/sample_data
Files in sample_data: ['anscombe.json', 'README.md', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv']

**colab_file_download**

In [ ]:
from google.colab import files
import time

# Ghi nội dung vào file
with open('io_file_myday.txt', 'w') as f:
    f.write('Google Colab File Write Text some content Myday')

print("File đã được ghi nội dung.")

# Tạm dừng 1 giây
time.sleep(1)

# Tải file về máy
files.download('io_file_myday.txt')
print('File đã được tải xuống thành công.')

**File Remove Example**

In [441]:
import os

if os.path.exists("myfile.txt"):
    os.remove("myfile.txt")
    print("✅ myfile.txt removed")
else:
    print("⚠️ The file does not exist")

✅ myfile.txt removed

**os_folder_demo**

In [442]:
import os

# Liệt kê thư mục hiện tại trước khi tạo
print("Danh sách thư mục/file ban đầu:", os.listdir())

# Tạo thư mục mới
os.mkdir("myfolder1")
print("Sau khi tạo myfolder1:", os.listdir())

# Xóa thư mục vừa tạo
os.rmdir("myfolder1")
print("Sau khi xóa myfolder1:", os.listdir())

Danh sách thư mục/file ban đầu: ['.config', 'io_file_myday.txt', 'mymodule.py', 'drive', 'sample_data']
Sau khi tạo myfolder1: ['.config', 'io_file_myday.txt', 'myfolder1', 'mymodule.py', 'drive', 'sample_data']
Sau khi xóa myfolder1: ['.config', 'io_file_myday.txt', 'mymodule.py', 'drive', 'sample_data']

**try_except_demo**

In [443]:
# Python try except
try:
    print(x)  # x chưa được định nghĩa nên sẽ gây lỗi
except:
    print("Exception Error: biến x chưa được định nghĩa")

5.0

**try_except_finally_demo**

In [440]:
# Python try except finally demo

try:
    print("Bắt đầu khối try...")
    print("Hello")  # Lệnh chạy bình thường
    x = 10 / 2      # Không lỗi
    print("Giá trị của x:", x)

except Exception as e:
    print("Có lỗi xảy ra trong khối try:", e)

finally:
    print("Khối finally luôn được thực hiện")
    print("Kết thúc chương trình")

Bắt đầu khối try...
Hello
Giá trị của x: 5.0
Khối finally luôn được thực hiện
Kết thúc chương trình

**try_except_else_demo**

In [439]:
# Python try except else Example

try:
    print("Hello")
except Exception as e:
    print("Exception Error:", e)  # Nếu có lỗi thì in ra thông báo
else:
    print("No exception")  # Nếu không lỗi thì in ra thông báo

Hello
No exception

**Python Try Except Else**

In [434]:
# Python try except else Example

try:
    print("Hello")  # Lệnh này không gây lỗi
except:
    print("Exception Error")  # Nếu có lỗi sẽ chạy vào đây
else:
    print("No exception - Code chạy thành công")  # Nếu không lỗi thì in ra

Hello
No exception - Code chạy thành công

**Python Try Except Else Finally – Stock Value Calculator**

In [431]:
# Python Try Except Else Finally Example

try:
    price = float(input("Enter the price of the stock (e.g. 10): "))
    shares = int(input("Enter the number of shares (e.g. 2): "))
    total = price * shares

except Exception as e:
    print("Exception error:", str(e))

else:
    print("The total value of the shares is:", total)

finally:
    print("Thank you.")

Enter the price of the stock (e.g. 10): 10
Enter the number of shares (e.g. 2): 6
The total value of the shares is: 60.0
Thank you.

**Xử lý File với Try Except Finally**

In [432]:
# Python File Handling with Try Except Finally
try:
    file = open("myfile.txt", "w")   # mở file ở chế độ ghi
    file.write("Python write file")
    print("File saved successfully")

except Exception as e:
    print("Exception file Error:", e)

finally:
    file.close()
    print("Finally process: file closed")

File saved successfully
Finally process: file closed

**File Handling with Try Except Finally**

In [433]:
# File Handling with Try Except Finally

try:
    file = open("myfile.txt", 'w')   # mở file ở chế độ ghi
    file.write("Python write file")
    print("file saved")

except:
    print("Exception file Error")

finally:
    file.close()
    print("Finally process")

file saved
Finally process

# Kết thúc